<div class='container'>

  <div class='columns field'>

    <div class='control column has-icons-right'>
      <textarea class='textarea' placeholder='Add comment here'>
      </textarea>
      <span class='icon is-right'>
        <button 
        id='comment-btn' 
        class='button is-focused ml-6'
         type='submit'>
          <i class='fa-regular fa-floppy-disk'></i>
        </button>
      </span>
    </div>

    <div class='control'>

      {{! <button
      id='comment-btn'
      class='button is-focused mt-6'
      type='submit'
    >
      <i class='fa-regular fa-floppy-disk'></i>
    </button> }}
    </div>

  </div>
</div>

<script src='../../js/comment.js'></script>